*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

.whyg{
display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 300ms ease;
}

.whyb{
display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 300ms ease;
}

.textcong{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 33.789px;
   
}

.whytit{
    color: #625E67;
leading-trim: both;
text-edge: cap;
font-family: Figtree;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 13px; /* 107.692% */
letter-spacing: -0.422px;
}

.whyp{
    color: #625E67;
leading-trim: both;
text-edge: cap;
font-family: Figtree;
font-size: 7px;
font-style: normal;
font-weight: 300;
line-height: 7px; /* 135% */
letter-spacing: -0.422px;
}
.whytitw{
    color: #ffffff;
leading-trim: both;
text-edge: cap;
font-family: Figtree;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 13px; /* 107.692% */
letter-spacing: -0.422px;
}

.whypw{
    color: #ffffff;
leading-trim: both;
text-edge: cap;
font-family: Figtree;
font-size: 7px;
font-style: normal;
font-weight: 300;
line-height: 7px; /* 135% */
letter-spacing: -0.422px;
}
.textconb{
    display: flex;
padding: 22.808px 15.205px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
border-radius: 33.789px;
background: rgba(231, 245, 254, 0.28);
box-shadow: 0 0 13.262px 0 rgba(0, 0, 0, 0.11);
}